.header {
    display: flex;
    flex-direction: row;
    border-bottom: solid 3px #202020;
    height: 70px;
    align-items: center;
    position: relative;
}
.header .inputContainer{
    position: absolute;
    left: 30px;
    width: 200px;
    margin: 0; 
}
.header .inputContainer .input {
    height: 40px;
    font-size: 16px;
    padding-top: 10px;
}

.header .dateChanger {
    margin: 0 auto;
}