.profileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    border-top: solid 3px #202020;
}

.profileContainer section {
    border-left: solid 3px #202020;
}
.profileInfo {
    padding: 25px;
    border: none;
}

.uppercase {
    text-transform: uppercase;
}

.profileInfo .info {
    font-weight: bold;
    font-size: 26px;
}

.profileInfo .title {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 30px;
}

.profileContainer .atividadesMarcadasRow {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.atividadesMarcadasRow .dateChanger {
    margin: 0 auto;
}

.profileContainer .atividadesMarcadas{
    display: flex;
    flex-direction: row;
}
.profileContainer .atividadesRecentesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardContainerPattern {
    width: 247px;
}

.cardContainerPattern .infoAbsolute{
    left:-98px;
}
