.buttonContainer{
    position: absolute;
    width: 100%;
    text-align: center;
}
.fake{
    pointer-events: none;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #202020;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    height: 85%;
    background-color: white;
    transition: all 0.3s;
}
.active{
    height: 0;
}

.button{
    background-color: #202020;
    border: none;
    width: 100%;
    cursor: pointer;
}
.button .buttonText{
    pointer-events: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.dark .buttonText{
    color: #202020 !important;
}
 .dark .button{
     background-color: white;
 }
.dark .fake {
    background-color: #202020;
    color: white
}
 .buttonContainer:hover .fake{
     height: 0% !important;
 }