.dateChanger {
    display: flex;
    align-items: center;
}
.dateChanger .data{
    margin: 0 15px;
    font-size: 30px;
    font-weight: bold;
}
.arrowButton {
    display: flex;
    align-items: center;
}

