.cadastroContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    border-top: solid 3px #202020;
    margin-top: 80px;
    padding-top: 40px;
}
.pageTitle {
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
}

.title{
    font-size: 28px;
    font-weight: bold;
}

.radioButton {
display: grid;
grid-template-columns: 20% 80%;
align-items: center;
margin: 10px;
font-weight: bold;
}