.cardContainerPattern{
    display: flex;
    flex-direction: row;
    height: 130px;
    margin: 10px 25px;
    position: relative;
}
.fitButton{
    width: auto;
}
.fitButton .buttonContainer{
    font-size: 20px;
    position: relative;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin-x: left;
    -moz-transform-origin-x: left;
    -p-transform-origin-x: left;
    -ms-transform-origin-x: left;
    top: -19px;
    left: 21px;
}

.fitButton .buttonText{
    font-size: 20px;
}
.fitButton .button{
    height: 40px;
}
.cardContainerPattern .info{
    position: relative;
    left: -70px;
    width: 90px;
}
.info .infoAbsoulte {
    position: absolute;
    width: 180px;
}
.cardContainerPattern .bottomRigth {
    width: 45px;
}
.cardContainerPattern .container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
}
 .underlineButton{
     cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: bold;
}
.container>.underlineButton{
    width: 75px;
}