.dayRowContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: solid 3px #202020;
    padding:10px;
    min-height: 120px;
    flex-wrap: wrap;
}
.dayRowContainer .seeDayContainer {
    position: absolute;
    right: 0px;
    top: 40%;
    width:110px;
}
.dayRowContainer .seeDay{
    position: absolute;
    font-size: 22px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 18px;
}
.dayInfo span {
    font-weight: bold;
}
.dayInfo h2 {
    font-size: 28px;
}