.inputContainer {
    position: relative;
    width: 100%;
}
.inputContainer .input:focus + .inputLabel,
.inputContainer .input:not(:placeholder-shown) + .inputLabel {
    top: 15px;
    font-size: 10px;
    color: #202020;
}
.inputLabel {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #464646;
    font-size: 18px;
    left: 4%;
    opacity: 1;
    transition: all 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}
.input::placeholder{
    color: rgba(0, 0, 0, 0)
}
.input {
    border: none;
    box-sizing: border-box;
    width: 100%;
    background-color: #EBEBEB;
    border-radius: 10px;
    height: 45px;
    margin: 5px auto;
    padding-top: 10px;
    padding-left: 4%;
    font-size: 18px;
    color: #202020;
}
.input:not(:placeholder-shown){
    border: solid 3px #202020;
    background-color: white;
}
.input:focus {
    border: solid 3px #202020;
    outline: none;
    background-color: white;
}