
.rowName{
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    align-self: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.atividadesMarcadasRows {
    display: flex;
    flex-direction: row;
    border-bottom: solid 3px #202020;
}
.atividadesMarcadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
}

.atividadesDisponiveisRow {
    min-height: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
}