.navigation{
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.links {
    padding-top: 6px;
    border-left: solid 8px #202020;
    display: flex;
    justify-content: flex-start; 
}

.links .linkButton {
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    
}

.linkButton .active {
    background-color: #202020;
    color: white;
}

.links .linkButton a{
    transition:  all 0.2s ;
    background-color: none;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.logo{
    margin-left: 30px;
    margin-right: 30px;
}
.singout{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 8px solid #202020;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: auto;
    cursor:pointer;
}