.loginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 400px;
}
.bigText{
    font-size: 38px;
}
.loginTitle{
    margin-bottom:50px;
    border-left: #202020 solid 8px;
    padding-left: 32px;
    height: 70px;
    letter-spacing: 1px;
}
.inputContainer{
    margin: 20px auto;
    width: calc(100% - 80px);
}
input{
    width: 100%;
}
.buttonContainer{
    bottom: 0;
}
form{
    height: calc(100% - 40px);
    position: relative;
}
.buttonContainer{
    position: absolute;
    bottom: 0px;
    font-size: 38px;
}
.buttonText{
    font-size:  38px;
}
.button{
    height: 60px;
}