.modal {
    top: 50%;
    left: 50%;
    position: fixed;
    background-color: #202020;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 430px;
    width: 65%;
    border-radius: 15px;
    padding: 15px 20px;
}
.modal p {
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

.capitalized {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.modal .title {
    font-size: 24px;
}

.infoText {
    font-size: 20px;
    text-indent: 15px;
}
div .textInfo {
    font-weight: normal;
    text-indent: 15px;
    font-size: 20px;
}
.closeModal {
    position: absolute;
    top: 1px;
    right: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.firstSection{
    position: relative;
}

.modal .buttonContainer {
    
}
